In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
import psycopg2
from sqlalchemy import create_engine, func

In [2]:
games = pd.read_csv("C:/Users/jadev/UCD/Homework/ETL_Project/video_games.txt")
meta = pd.read_csv("C:/Users/jadev/UCD/Homework/ETL_Project/archive.zip")

In [5]:
games.head()

,number,game,release_date,price,owners,developer,publisher,average_playtime,median_playtime,metascore
0,1,Half-Life 2,"Nov 16, 2004",9.99,"10,000,000 .. 20,000,000",Valve,Valve,110.0,66.0,96.0
1,3,Counter-Strike: Source,"Nov 1, 2004",9.99,"10,000,000 .. 20,000,000",Valve,Valve,236.0,128.0,88.0
2,21,Counter-Strike: Condition Zero,"Mar 1, 2004",9.99,"10,000,000 .. 20,000,000",Valve,Valve,10.0,3.0,65.0
3,47,Half-Life 2: Deathmatch,"Nov 1, 2004",4.99,"5,000,000 .. 10,000,000",Valve,Valve,0.0,0.0,NaN
4,36,Half-Life: Source,"Jun 1, 2004",9.99,"2,000,000 .. 5,000,000",Valve,Valve,0.0,0.0,NaN

In [6]:
meta.head()

   metascore                name console userscore          date
0         97  Grand Theft Auto V     PS3       8.3  Sep 17, 2013
1         97  Grand Theft Auto V    X360       8.3  Sep 17, 2013
2         95      The Last of Us     PS3       9.2  Jun 14, 2013
3         94   BioShock Infinite     PS3       8.5  Mar 26, 2013
4         94   BioShock Infinite      PC       8.6  Mar 25, 2013

In [7]:
games.dtypes

number                int64
game                 object
release_date         object
price               float64
owners               object
developer            object
publisher            object
average_playtime    float64
median_playtime     float64
metascore           float64
dtype: object

In [8]:
meta.dtypes

metascore     int64
name         object
console      object
userscore    object
date         object
dtype: object

In [13]:
meta['userscore'] = pd.to_numeric(meta['userscore'],errors='coerce')
meta['date'] = pd.to_datetime(meta['date'])

In [14]:
meta.head()

   metascore                name console  userscore       date
0         97  Grand Theft Auto V     PS3        8.3 2013-09-17
1         97  Grand Theft Auto V    X360        8.3 2013-09-17
2         95      The Last of Us     PS3        9.2 2013-06-14
3         94   BioShock Infinite     PS3        8.5 2013-03-26
4         94   BioShock Infinite      PC        8.6 2013-03-25

In [15]:
games['release_date'] = pd.to_datetime(games['release_date'])